body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("font-icon-path.eot?v=#4.0.3");
  src: url("font-icon-path.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("font-icon-path.woff?v=#4.0.3") format("woff"), url("font-icon-path.ttf?v=#4.0.3") format("truetype"), url("font-icon-path.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #1653A6;
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-text-size-adjust: 100%;
}
.outer {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  display: inline;
  float: left;
  width: 98.33333333333333%;
  margin: 0 0.833333333333333%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden;
}
#wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 1;
  background: #1653A6;
}
.mobile-nav-on #wrap {
  left: 280px;
}
@media screen and (min-width: 768px) {
  #main {
    display: inline;
    float: left;
    width: 73.33333333333333%;
    margin: 0 0.833333333333333%;
  }
}
@media screen and (min-width: 768px) {
  #main {
    float: right;
  }
}
.article-inner,
#comments,
.widget-wrap-info .widget-wrap-info-img {
  background-color: #1653A6;
  -webkit-box-shadow: 5px 5px 10px #13478d, -5px -5px 10px #195fbf;
  box-shadow: 5px 5px 10px #13478d, -5px -5px 10px #195fbf;
  border-radius: 10px;
}
.article-entry h1,
.widget h1 {
  font-size: 1.7em;
}
.article-entry h2,
.widget h2 {
  font-size: 1.5em;
}
.article-entry h3,
.widget h3 {
  font-size: 1.3em;
}
.article-entry h4,
.widget h4 {
  font-size: 1.2em;
}
.article-entry h5,
.widget h5 {
  font-size: 1em;
}
.article-entry h6,
.widget h6 {
  font-size: 1em;
}
.article-entry hr,
.widget hr {
  border: 2px dashed #E3C36F;
  margin: 20px 0;
}
.article-entry strong,
.widget strong {
  font-weight: bold;
}
.article-entry em,
.widget em,
.article-entry cite,
.widget cite {
  font-style: italic;
}
.article-entry sup,
.widget sup,
.article-entry sub,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup,
.widget sup {
  top: -0.5em;
}
.article-entry sub,
.widget sub {
  bottom: -0.2em;
}
.article-entry small,
.widget small {
  font-size: 0.85em;
}
.article-entry acronym,
.widget acronym,
.article-entry abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
  margin: 0 20px;
  line-height: 1.8em;
}
.article-entry ul ul,
.widget ul ul,
.article-entry ol ul,
.widget ol ul,
.article-entry ul ol,
.widget ul ol,
.article-entry ol ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul,
.widget ul {
  list-style: disc;
}
.article-entry ol,
.widget ol {
  list-style: decimal;
}
.article-entry dt,
.widget dt {
  font-weight: bold;
}
#header {
  height: banner-height;
  position: relative;
  background: #1653A6;
}
#header-outer {
  height: 100%;
  position: relative;
}
#header-inner {
  position: relative;
  overflow: hidden;
}
#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("banner-url") center #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: -1;
}
#header-title {
  text-align: center;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -20px;
}
#logo,
#subtitle {
  text-decoration: none;
  color: #F0F0F0;
  font-weight: 300;
  text-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
#logo {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
}
#subtitle {
  font-size: subtitle-size;
  line-height: subtitle-size;
  letter-spacing: 1px;
}
#subtitle-wrap {
  margin-top: subtitle-size;
}
#main-nav {
  float: left;
}
.nav-icon,
.main-nav-link {
  float: left;
  color: #F0F0F0;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  display: block;
  padding: 20px 15px;
}
.nav-icon:hover,
.main-nav-link:hover {
  color: #E3C36F;
}
.nav-icon {
  font-family: font-icon;
  text-align: center;
  font-size: 14px;
  width: 14px;
  height: 14px;
  padding: 20px 15px;
  position: relative;
  cursor: pointer;
}
.main-nav-link {
  font-weight: 300;
  letter-spacing: 1px;
}
@media screen and (max-width: 479px) {
  .main-nav-link {
    display: none;
  }
}
#main-nav-toggle {
  display: none;
}
#main-nav-toggle:before {
  content: "\f0c9";
}
@media screen and (max-width: 479px) {
  #main-nav-toggle {
    display: block;
  }
}
#sub-nav {
  float: right;
  margin-right: -15px;
}
#nav-rss-link:before {
  content: "\f09e";
}
#nav-search-btn:before {
  content: "\f002";
}
#search-form-wrap {
  position: absolute;
  top: 15px;
  width: 150px;
  height: 30px;
  right: -150px;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
#search-form-wrap.on {
  opacity: 1;
  right: 0;
}
@media screen and (max-width: 479px) {
  #search-form-wrap {
    width: 100%;
    right: -100%;
  }
}
.search-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 5px 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.search-form-input {
  border: none;
  background: none;
  color: #F0F0F0;
  width: 100%;
  font: 13px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  outline: none;
}
.search-form-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.article {
  margin: 50px 0;
}
.article-inner {
  overflow: hidden;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-date {
  color: #F0F0F0;
  text-decoration: none;
  margin: 10px 0px;
  font-size: 0.8em;
  float: left;
}
.article-date:before {
  content: "\@";
}
.article-category {
  float: left;
  margin: 10px 10px;
  font-size: 0.8em;
}
.article-category:before {
  content: "\# ";
}
.article-category-link {
  color: #F0F0F0;
  text-decoration: none;
}
.article-header {
  padding: 20px 20px 0;
}
.article-title {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: #F0F0F0;
  line-height: 1.1em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
  color: #E3C36F;
}
.article-entry {
  color: #F0F0F0;
  padding: 0 20px;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p,
.article-entry table {
  line-height: 1.8em;
  margin: 1.8em 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
  color: #F0F0F0;
}
.article-entry h1::before {
  content: '\# ';
  color: #E3C36F;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.1em;
  margin: 1.1em 0;
}
.article-entry a {
  color: #E3C36F;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 3px solid #195fbf;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #195fbf;
  padding: 10px 5px;
}
.article-entry blockquote {
  font-size: 1em;
  border-left: 5px solid #E3C36F;
  padding: 0.01em 1em;
  margin-bottom: 10px;
  background: #195fbf;
}
.article-entry blockquote footer {
  font-size: 14px;
  margin: 1.8em 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #F0F0F0;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link {
  text-align: right;
}
.article-more-link a {
  display: inline-block;
  line-height: 1em;
  text-transform: uppercase;
  padding: 6px 13px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  color: #F0F0F0;
  text-decoration: none;
  border-radius: 4px;
  background: #1653A6;
  -webkit-box-shadow: inset 2px 2px 4px #13478d, inset -2px -2px 4px #1653A6;
  box-shadow: inset 2px 2px 4px #13478d, inset -2px -2px 4px #1653A6;
}
.article-more-link a:hover {
  text-decoration: none;
  color: #E3C36F;
}
.article-footer {
  font-size: 0.85em;
  line-height: 1.8em;
  padding-top: 1.8em;
  margin: 0 20px 20px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #F0F0F0;
  text-decoration: none;
}
.article-footer a:hover {
  color: #E3C36F;
}
.article-tag-list-item {
  float: left;
  margin: 10px 10px;
  font-size: 0.8em;
}
.article-tag-list-link {
  text-decoration: none;
  color: #F0F0F0;
}
.article-tag-list-link:before {
  content: "\# ";
}
.fold-button {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.1em;
  width: 100%;
  text-align: left;
  background-color: #E3C36F;
  color: #F0F0F0;
  padding: 8px;
  margin: 4px 0;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.fold-button:hover {
  background-color: #13478d;
}
.fold-button.active {
  background-color: #E3C36F;
  color: #F0F0F0;
  border-radius: 4px 4px 0 0;
}
.fold-content {
  background-color: #195fbf;
  color: #F0F0F0;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  padding: 0 8px;
  margin: 0;
}
.fold-content.show {
  opacity: 1;
  max-height: 500px;
  padding: 8px;
  margin: 2px 0 4px;
}
#comments {
  border-radius: 15px;
  padding: 20px;
  margin: 50px 0;
}
#comments input {
  color: #F0F0F0;
}
#comments input::placeholder {
  color: #E3C36F;
}
#comments a {
  color: #F0F0F0;
}
#comments textarea {
  color: #F0F0F0;
}
#comments textarea::placeholder {
  color: #E3C36F;
}
#comments .vbtn,
#comments .vempty {
  color: #E3C36F;
}
#comments .vcontent p {
  color: #F0F0F0;
}
#comments .vcount {
  color: #F0F0F0;
}
#comments .vhead {
  color: #F0F0F0;
}
#comments .vat {
  color: #E3C36F;
}
.archives-wrap {
  margin: 50px 0;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap {
  margin-bottom: 1em;
}
.archive-year {
  color: #F0F0F0;
  text-decoration: none;
  font-size: 2em;
  font-weight: 500;
  margin-left: 30px;
  border-radius: 8px;
  padding: 5px 10px;
  -webkit-box-shadow: inset 5px 5px 10px #13478d, inset -5px -5px 10px #195fbf;
  box-shadow: inset 5px 5px 10px #13478d, inset -5px -5px 10px #195fbf;
}
.archive-article-div {
  margin-left: 20px;
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
.archive-article-inner {
  padding: 10px;
  margin-bottom: 15px;
}
.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
  color: #F0F0F0;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1.8em;
}
.archive-article-title:hover {
  color: #E3C36F;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #E3C36F;
  float: left;
  text-decoration: none;
  font-size: 1em;
  line-height: 1.8em;
  text-align: center;
  margin-bottom: 0.5em;
  display: block;
}
#page-nav {
  margin: 50px auto;
  background: #1653A6;
  -webkit-box-shadow: 5px 5px 10px #13478d, -5px -5px 10px #195fbf;
  box-shadow: 5px 5px 10px #13478d, -5px -5px 10px #195fbf;
  border-radius: 3px;
  text-align: center;
  color: #F0F0F0;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  line-height: 1;
  height: 2ex;
}
#page-nav a {
  color: #F0F0F0;
  text-decoration: none;
}
#page-nav a:hover {
  background: #E3C36F;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #E3C36F;
  font-weight: bold;
}
#page-nav .space {
  color: #1653A6;
}
#footer {
  background: #1653A6;
  padding: 50px 0;
  color: #F0F0F0;
}
#footer a {
  color: #E3C36F;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer-info {
  line-height: 1.8em;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry .highlight {
  background: #fff;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #1653A6;
  border-width: 1px 0;
  overflow: auto;
  color: #4d4d4c;
  line-height: 25.2px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #E3C36F;
  color: #1653A6;
  font-weight: 700;
  border-radius: 3px;
  padding: 0.1em 0.5em;
  margin: 0.1em 0.5em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #8e908c;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 25.2px;
}
.article-entry .highlight .line.marked {
  background: #d6d6d6;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #1653A6;
  border-width: 1px 0;
  background: #fff;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #fff;
  color: #8e908c;
  font: 0.85em -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #E3C36F;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
@media screen and (max-width: 479px) {
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #1653A6;
    border-right: 1px solid #fff;
  }
}
@media screen and (max-width: 479px) {
  .mobile-nav-link {
    display: block;
    color: #F0F0F0;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
  }
  .mobile-nav-link:hover {
    color: #E3C36F;
  }
}
@media screen and (min-width: 768px) {
  #sidebar {
    display: inline;
    float: left;
    width: 23.333333333333332%;
    margin: 0 0.833333333333333%;
  }
}
.widget-wrap {
  margin: 50px 0;
  padding: 15px;
  border-radius: 10px;
  background: #1653A6;
  -webkit-box-shadow: inset 5px 5px 10px #13478d, inset -5px -5px 10px #195fbf;
  box-shadow: inset 5px 5px 10px #13478d, inset -5px -5px 10px #195fbf;
}
.widget-title {
  text-decoration: none;
  color: #F0F0F0;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-left: 4px solid #E3C36F;
  margin-bottom: 1em;
  margin-left: 5px;
  padding-left: 5px;
  line-height: 1em;
}
.widget {
  color: #F0F0F0;
}
.widget a {
  color: #E3C36F;
  text-decoration: none;
}
.widget a:hover {
  text-decoration: underline;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
  list-style: disc;
}
.widget-wrap-info {
  text-align: center;
}
.widget-wrap-info .widget-wrap-info-img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
.widget-wrap-info .widget-wrap-info-author {
  color: #F0F0F0;
  font-weight: bold;
}
.widget-wrap-info .widget-wrap-info-signature {
  color: #F0F0F0;
  opacity: 0.8;
}
.info-nav {
  margin-top: 10px;
}
.info-nav-li .info-nav-link {
  color: #F0F0F0;
  text-decoration: none;
}
.info-nav-li .info-nav-link .info-nav-div {
  position: relative;
  display: block;
  height: 40px;
  background: #195fbf;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  line-height: 40px;
}
.info-nav-li .info-nav-link .info-nav-div:hover {
  background: #13478d;
}
.info-nav-li .info-nav-link .info-nav-icon {
  width: 40px;
  margin-top: 7px;
  text-align: center;
  position: relative;
  float: left;
  line-height: 24px;
}
.widget {
  line-height: 1.8em;
  word-wrap: break-word;
  font-size: 0.9em;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
  list-style: disc;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #F0F0F0;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-right: 5px;
  display: inline-block;
}
